h1{
    color: slateblue;
}
a{
    color: slateblue;
}
body{
    background-color: thistle;
}
p{
    color: whitesmoke;
}
h2{
    color: blueviolet;
}
ul{
    color: brown;
}
h2{
    color: blueviolet;
}
ol{
    color: brown;
}
table{
    background-color: cadetblue;
}
p{
    color: darkblue;
}